@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Cormorant-cyrillic-500.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Cormorant-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Cormorant-cyrillic-600.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Cormorant-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Cormorant-cyrillic-700.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Cormorant-latin-700.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Manrope-cyrillic-400.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Manrope-latin-400.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Manrope-cyrillic-500.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Manrope-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Manrope-cyrillic-600.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Manrope-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Manrope-cyrillic-700.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Manrope-latin-700.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./fonts/Manrope-cyrillic-800.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./fonts/Manrope-latin-800.woff2") format("woff2");
}
